# Apache Server Access File
# OSU Project Showcase Website
# (c) 2019 Oregon State University

# CONFIG: change `auto_prepend_file` to the proper location before developing or merging with master
php_value auto_prepend_file "/nfs/ca/info/eecs_www/education/capstone/stage/showcase/bootstrap.php"


RewriteEngine On

# If the requested file is not a directory or a file, we need to append .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} (pages/|downloaders/|api/)
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Prepend `/pages` to the URI if it needs it
RewriteCond %{REQUEST_URI} !^(/api|/assets|/downloaders|/pages|/masq)
RewriteRule ^(.*)$ pages/$1 
