/*
Styles for the project invitation page
Project Showcase
Oregon State University
*/
.container {
    margin-top: 20px;
}

.invitation-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.invitation-actions button {
    margin: 20px;
}