.profile-container {
    position: relative;
}

.profile-banner {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: var(--color-black);
    z-index: -1;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.profile-header {
    position: relative;
    height: 200px;
    margin-top: 170px;
    display: flex;
    align-items: center;
    color: var(--color-white);
}

.profile-image {
    width: 200px;
    height: 200px;
    background-color: var(--color-white);
    border-radius: 50%;
    margin: 5px;
}

.profile-header-content {
    flex-grow: 1;
    margin-left: 15px;
    align-self: flex-end;
    margin-bottom: 25px;
}

.profile-links {
    margin-top: 20px;
    height: 34px;
}

.profile-links a {
    color: var(--color-black);
    margin-right: 10px;
}

.profile-links a:hover {
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
}

.profile-content {
    padding: 10px 30px;
}

.profile-content section {
    margin-top: 15px;
}

#btnEditProfile {
    margin-left: 10px;
}
