.container {
    margin-top: 20px;
    padding-bottom: 100px;
}

.btn-profile-edit-submit {
    position: fixed;
    right: 20%;
    top: 110px;
    display: flex;
    align-items: center;
}

.btn-profile-edit-submit .loader {
    margin-left: 15px;
}

@media only screen and (max-width: 1023px) {
    .btn-profile-edit-submit {
        position: relative;
        top: 0;
        right: 0;
        margin-bottom: 10px;
    }
}

.image-preview {
    display: flex;
    align-items: center;
}

#btnProfileImageDelete {
    margin-left: 15px;
}

.profile-image-input-container {
    margin-top: 15px;
}

#profileImagePreview {
    display: block;
    margin: 0px 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#resumeActions {
    display: flex;
    align-items: center;
    padding: 3px;
    margin-bottom: 12px;
}

#resumeActions * {
    margin: 0px 5px;
}

.form-group-project {
    padding: 10px;
    background-color: var(--color-light-grey);
}

#tableProjects td:nth-child(2) {
    white-space: pre-wrap;
}


