.profile-project {
    padding: 10px;
    box-shadow: 1px 1px 3px var(--color-grey);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 5px;
    border-radius: 3px;
    min-width: 300px;
    max-width: 30%;
}

.project-title {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-light-grey);
    text-align: center;
}

.project-description {
    flex-grow: 1;
}

.project-details {
    flex-shrink: 1;
}