/*
CSS for the view showcase project page of the OSU project showcase website.
*/
.showcase-project-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.showcase-project-header {
    text-align: center;
    animation: fadeInDown 0.5s ease-out;
}

.showcase-project-header a {
    margin-bottom: 10px;
}

.showcase-project-collaborators {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInDown 0.5s ease-out 0.25s;
    animation-fill-mode: forwards;
    margin-bottom: 10px;
}

.collaborator-link {
    text-decoration: none;
    color: inherit;
}

.collaborator-link:hover {
    text-decoration: underline;
    color: inherit;
}

.collaborators-container {
    display: flex;
    justify-content: center;
}

.showcase-project-description {
    opacity: 0;
    animation: fadeIn 1s ease-out 0.25s;
    animation-fill-mode: forwards;
    margin-bottom: 20px;
}

.showcase-project-description p {
    white-space: pre-wrap;
}

.showcase-project-images {
    opacity: 0;
    animation: fadeIn 1s ease-out 0.25s;
    animation-fill-mode: forwards;
}

.showcase-project-artifacts {
    opacity: 0;
    animation: fadeIn 1s ease-out 0.25s;
    animation-fill-mode: forwards;
    margin-top: 40px;
}

.table td:first-child {
    max-width: 200px;
}

.table td:last-child {
    width: 150px;
    text-align: center;
}

.small-font {
    font-size: 0.7em;
}

.slideshow-container img {
    height: 400px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-out 0.25s;
    animation-fill-mode: forwards;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.keywords div {
    font-size: 0.7rem;
    border-radius: 5px;
    background-color: var(--color-light-grey);
    color: var(--color-black);
    padding: 3px 7px;
    margin: 3px;
    white-space: nowrap;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
